@font-face {
    font-family: Azonix;
    src: url("/assets/AzonixRegular.woff") format("woff"), url("/assets/AzonixRegular.ttf") format("truetype");
}

@font-face {
    font-family: 'TeX Gyre Heros';
    src: url("/assets/TeXGyreHeros-Bold.woff") format("woff"), url("/assets/TeXGyreHeros-Bold.ttf") format("truetype");
}

html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-image: url("/assets/background.svg");
    background-position: top right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1, p {
    font-family: 'Open Sans', sans-serif;
}

.logo {
    border-bottom: 2px solid black;
    white-space: pre; 
    text-align: center;
    font-family: 'TeX Gyre Heros', sans-serif;
    font-weight: normal;
    font-size: 5vh;
    padding-left: 1vw;
    padding-right: 1vw;
}

.logo::before {
    content: "Hi, I'm\A";
    font-size: 2.25vh;
}

.logo-firstletter {
    font-family: 'Azonix', sans-serif;
}

.links {
    text-align: center;
    margin-top: -1.5vh;
}

.link {
    font-size: 4vh;
    color: black;
    transition: font-size 0.4s cubic-bezier(.68,-0.55,.27,1.55);
    white-space: pre;
}

.link:not(:last-of-type) {
    padding-right: 1.5vw;
}

.link:hover {
    font-size: 5vh;
}

.links:hover > .link {
    opacity: 50%;
}

.links:hover > .link:hover {
    opacity: 100%;
}

@media only screen and (max-width: 719px) {
    body {
        background-size: cover;
    }
    .logo {
        font-size: 7vh;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    }
    .logo::before {
        font-size: 2.75vh;
    }
    .link {
        font-size: 6vh;
    }
}